<div class="container py-5">
  <h2 class="text-center mb-5">Specials</h2>
  <!-- Additional Specialties (Burgers, Wings, Combo, Hot Dogs) -->
  <div class="row mt-5">
    <!-- Burger -->
    <div class="col-md-4" *ngFor="let item of foodItems">
      <div class="card product-card mb-4 shadow-sm animate-card">
        <img src="/assets/WhatsApp Image 2024-10-15 at 11.12.42_49305c11.jpg" class="card-img-top img-fluid rounded-top animate-img" [alt]="item.name">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }} <strong>R{{ item.price }}</strong></p>
          <button (click)="addToCart(item)" class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
